terraform/*.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
*.pem
*.key
.env
__pycache__/
*.pyc
node_modules/
frontend/build/
.DS_Store
